body {
    color: #616163;
    font-size: 22px;    
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    padding-inline: 20px;
    gap: 40px;
    justify-content:flex-start;
    align-items: center;
    background-color: #01AAA7;
    top: 10px;
    height: 40px;  
    margin-bottom: 20px;
}

.navidation_tab-switch {
    font-size: 20px;
    color: #FFFFFF;
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navidation_tab-switch:hover{
    cursor: pointer;

}

.navidation_tab-switch:hover span {
    scale: 120%;
}

.navidation_tab-switch:active{
    transform: translateY(4px);
    color: #BB3D96;
}

.holiday-list_date-sort:hover{
    cursor: pointer;
    scale: 25px;
}

.holiday-list_date-sort:active{
    transform: translateY(2px);
    color: #BB3D96;
}

.sort-down-icon {
    display: none;
}

.sorting-down .sort-down-icon {
    display: inline;
}

.sorting-down .sort-up-icon {
    display: none;
}

.alert {
    padding: 16px;
    margin: 8px 0;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #BB3D96;
    position: absolute;
    top: 10px;
    right: 10px;
  }

.first-tab, .second-tab {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 1px solid rgba(1, 170, 167, 0.721);
    border-radius: 20px;
    padding: 40px 15px;
}

.disabled {
    display: none;
}

.active {
    border: #BB3D96 solid 2px;
    box-sizing: border-box;
    background-color: #BB3D96;
}

.choose-dates, .choose-dates__item, .choose-date-interval, .choose-days-option, .choose-period-option, .choose-date-interval__buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: baseline;
}

.choose-date-period * {
    margin-bottom: 10px;
}

#startDate, #endDate, #daysOption, #periodOption {
    height: 25px;
    color: #616163;
    border: #616163 solid 1px;
    border-radius: 10px;
    padding-inline: 5px;
    box-sizing: border-box;
}

#startDate:focus, #endDate:focus, #daysOption:focus, #periodOption:focus {
    color: #BB3D96;
}

#weekPeriod, #monthPeriod, #submit-button {
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: #01AAA7;
    color: #FFFFFF;
    font-size: 16px;
}

#weekPeriod:hover, #monthPeriod:hover, #submit-button:hover {
    color: #FFFFFF;
    background-color: #BB3D96;
    cursor: pointer;
}

#weekPeriod:active, #monthPeriod:active, #submit-button:active {
    transform: translateY(2px);
}

.date-actual-result {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: baseline;
}

.history-data__table th {
    padding-bottom: 10px;
}

.history-data__table tr {
    padding-bottom: 5px;
}

#historyTableData td {
    padding-inline: 15px;
}

@media screen and (max-width: 630px) {

    .choose-dates, .choose-date-interval {
        flex-flow: column wrap;
    }

    .choose-dates > div {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }

}

@media screen and (max-width: 380px) {
    body {
        font-size: 20px;
    }

    .first-tab, .second-tab {
       justify-content: center;
    }

    #chooseDateform {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    #submit-button {
        align-self: center;
    }
    .choose-dates > div {
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
    }

    #startDate, #endDate, #daysOption, #periodOption {
        height: 45px;
        width: 300px;
        border-radius: 15px;
        padding-inline: 10px;
        box-sizing: border-box;
    }
    
    #weekPeriod, #monthPeriod, #submit-button {
        height: 45px;
        width: 300px;
        border-radius: 10px;
        font-size: 18px;
    }

    .history-data__table {
        font-size: 16px;
    }
    .holiday-list_table {
        font-size: 16px;
    }
}